/* Estilos para el formulario */
form {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario en la página */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  width: 200px; /* Longitud de los campos de entrada */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 10px; /* Espaciado entre los campos */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
}

/* Estilos específicos para el cuadro de texto */
textarea {
  height: 150px; /* Altura del cuadro de texto */
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  padding: 10px 20px; /* Espaciado interno */
  background-color: navy; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor de puntero */
}

/* Estilos para el botón de enviar al pasar el mouse */
input[type="submit"]:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar el mouse */
}